@import "tailwindcss";

@theme {
  --color-foreground: #1a1a1a;
  --color-background: #ffffff;
  --color-accent: #8c52ff;
}
html {
  scroll-behavior: smooth;
}
body {
  @apply bg-background text-gray-600;
}
